/*Barra de logo portal*/
.header-page{
    padding: 5px;
    background-color: var(--fondo-Cabecera);
    width: 100%;
    margin:0px auto;
}

.logo{
    margin: 0px 15px;
}

/*Barra de menu*/
.barra-menu{
    color: #FFF;
    background-color: var(--fondo-Menu);
    width: 100%;
    padding: 10px;
    list-style:none;
    display: flex;
    align-items: baseline;
    text-transform: uppercase;
    margin: 0px auto;
    gap:15px;
}

form{
    display:flex;
}

.desplegable{
    font-size: 14px;
    background-color: transparent;
    border: none;
    height:30px;
    padding: 5px 0px;
    color: var(--celeste);
    margin:0px 5px 0px 5px;
}

#barra-menu-filtrar{
    background-color: white;
    border-radius: 15px;
    padding:5px 20px;
    color:var(--textos);
    text-align: center;
    font-size: 13px;
}

#barra-menu-paso{
    color: #FFF;
    border-radius:5px;
    padding:5px 20px;
    text-decoration:none;
    background-color: var(--magenta);
    margin-bottom: 20px;
    text-align: center;
    font-size:13px;

}

#barra-menu-informes{
    color: #FFF;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    text-decoration:none;
    text-align: center;
    font-size:13px;
    
}

#barra-menu-informes:hover,
#barra-menu-paso:hover{
    background-color: var(--gris-claro);
}

#barra-menu-inicio{
    color: #FFF;
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding:5px 30px;
    text-decoration:none;
    font-size: 13px;
    text-align: center;
    margin-left:550%; /*quise ubicarlo al final de la fila de otra forma pero no pude*/
}

#barra-menu-inicio:hover{
    background-color: var(--textos);
}

/*Contenido principal de la página*/
.sec-titulo-exito{
    background-color: var(--mensaje-usuario-verde);
}

.sec-titulo-error{
    background-color: var(--mensaje-usuario-rojo);
}

.sec-titulo-imcompleto{
    background-color: var(--mensaje-usuario-amarillo);
}

.fa{
    color: white;
    font-size: 15px;
}

.mensaje{
    margin: 20px auto;
    padding: 15px;
    width: 400px;
    padding: 15px;
    color: #FFffFF;
    font-size: 13px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-path{
    font-size: 14px;
    font-family:"Roboto";
    color: var(--celeste);
}

.agregar-a-informe{
    background-color:var(--gris-claro) ;
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 12px 1px;
}

.agregar-a-informe:hover{
    color: var(--textos);
}

.div-agregar-informe{
    display: flex;
}

.mesas-estructuradas{
    background-color: var(--celeste);
    border-radius: 10px;
    margin: 15px;
    padding: 0.5rem 1rem;
    font-family: #FFF;
    font-size: 12px;
}

.electores{
    background-color: var(--magenta);
    border-radius: 10px;
    margin: 15px;
    padding: 0.5rem 1rem;
    font-family: #FFF;
    font-size: 12px;
}

.participacion-escrutado{
    background-color: var(--morado);
    border-radius: 10px;
    margin: 15px;
    padding: 0.5rem 1rem;
    font-family: #FFF;
    font-size: 12px;
}

.recuadro-resumen-info{
    display: flex;
    margin: 0px 0px 0px 600px;
}

/*Seccion para contenido de la página*/
#sec-contenido{
    display: flex;
    justify-content: center;
}

.recuadro{
    width: 400px;
    height: 50px;
    border-radius: 25px;
    border: 1px var(--borde-Grilla) solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 1em;
}

.titulo{
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

/*Footer*/
.footer{
    background-color: var(--fondo-Footer);
    display: flex;
    justify-content: space-between;
    width: 100%
}

.footer-p{
    color: var(--texto-footer);
    margin: 40px;
}

.footer-img{
    display: flex;
    margin:40px;
}

.footer .logo_dine{
    margin-left: 20px;
}