/*Barra de menu*/
.barra-menu {
    color: #FFF;
    background-color: var(--fondo-Menu);
    width: 100%;
    padding: 12px;
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: left;
    text-transform: uppercase;
    margin: 0px auto;
    gap: 15px;
}

form {
    display: flex;
}

.desplegable {
    font-size: 14px;
    background-color: transparent;
    border: none;
    height: 30px;
    padding: 5px 0px;
    color: var(--celeste);
    margin: 0px 5px 0px 5px;
}

#barra-menu-filtrar {
    background-color: white;
    border-radius: 15px;
    padding: 5px 20px;
    color: var(--textos);
    text-align: center;
    font-size: 13px;
}

.fa-search {
    color: var(--textos);
}

#barra-menu-paso {
    color: #FFF;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: var(--magenta);
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;

}

#barra-menu-informes {
    color: #FFF;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;

}

#barra-menu-informes:hover,
#barra-menu-paso:hover {
    background-color: var(--gris-claro);
}

#barra-menu-inicio {
    /* ESTE BOTON VERGA SE CAGA VER COMO CENTRARLO AL CONTENEDOR*/
    color: #070707;
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 13px;
    position: absolute;
    right: 25px;
}

.fa-search {
    color: #070707 !important;
}

#barra-menu-inicio:hover {
    background-color: var(--textos);
}

/*Contenido principal de la página*/
.sec-titulo-exito {
    background-color: var(--mensaje-usuario-verde);
}

.sec-titulo-error {
    background-color: var(--mensaje-usuario-rojo);
}

.sec-titulo-imcompleto {
    background-color: var(--mensaje-usuario-amarillo);
}

.fa {
    color: white;
    font-size: 15px;
}

.mensaje {
    margin: 20px auto;
    padding: 15px;
    width: 400px;
    padding: 15px;
    color: #FFffFF;
    font-size: 13px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-path {
    font-size: 14px;
    font-family: "Roboto";
    color: var(--celeste);
}

.agregar-a-informe {
    background-color: var(--gris-claro);
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 12px 1px;
}

.agregar-a-informe:hover {
    color: var(--textos);
}

.div-agregar-informe {
    display: flex;
}

.mesas-estructuradas {
    background-color: var(--celeste);
    border-radius: 10px;
    margin: 15px;
    padding: 0.5rem 1rem;
    font-family: #FFF;
    font-size: 12px;
}

.electores {
    background-color: var(--magenta);
    border-radius: 10px;
    margin: 15px;
    padding: 0.5rem 1rem;
    font-family: #FFF;
    font-size: 12px;
}

.participacion-escrutado {
    background-color: var(--morado);
    border-radius: 10px;
    margin: 15px;
    padding: 0.5rem 1rem;
    font-family: #FFF;
    font-size: 12px;
}

.recuadro-resumen-info {
    display: flex;
    margin: 0px 0px 0px 600px;
}

/*Seccion para contenido de la página*/
#sec-contenido {
    display: flex;
    justify-content: center;
}

.recuadro {
    width: 350px;
    height: 500px;
    border-radius: 25px;
    border: 1px var(--borde-Grilla) solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 1em;
}

.titulo {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

/*Recuadro 1*/
.juntos-por-el-cambio {
    display: flex;
}

.juntos-por-el-cambio>div {
    margin: 0px 0px 0px 230px;
}

hr{
    width: 350px;
    margin: 0 auto 50px auto;
    border-radius: 15px;
    border: 1px solid var(--borde-Grilla);
    border-collapse: collapse;
    background-color: rgb(250, 250, 250);
}

/*barra de progreso de los recuadros*/
.progress {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

/*Recuadro 3*/
.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    /* giramos las letras para horizontal*/
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 35px 10px 35px 10px;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}

/* posicionamos el % del gráfico*/
.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: '0%';
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: '100%';
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}