/*Barra de menu*/
.barra-menu{
    color: #FFF;
    background-color: var(--fondo-Menu);
    padding: 20px;
    list-style:none;
    display: flex;
    align-items: baseline;
    justify-content:left;
    text-transform: uppercase;
    margin: 0px auto;
    gap:15px;
    font-size:13px;
}

#barra-menu-informes{
    color: #FFF;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    text-decoration:none;
    text-align: center;
}

#barra-menu-paso,
#barra-menu-generales{
    color: #FFF;
    border-radius:5px;
    padding:5px 20px;
    text-decoration:none;
    text-align: center;
}

#barra-menu-paso{
    background-color: var(--magenta);
}

#barra-menu-generales{
    background-color: var(--celeste);
}

#barra-menu-informes:hover,
#barra-menu-paso:hover,
#barra-menu-generales:hover{
    background-color: var(--gris-claro);
}

/*Contenido principal de la página */

#sec-titulo{
    display:flex
}

#sec-titulo-texto{
    margin: 40px 150px 20px 80px;
}

#sec-titulo-h2{
    margin-bottom: 15px;
    font-size: 50px;
}

#sec-titulo-p{
    font-size: 18px;
}

#sec-titulo-img{
    margin: 50px 150px 0px 0px;
    
}

/*Seccion para contenido de la página*/

#sec-contenido a{
    text-decoration: none;
}

#sec-contenido-p,
#sec-contenido-h1{
    margin-left: 80px;
}

#sec-contenido-p{
    font-size:15px;
}

#botones-paso-generales{
    display:flex;
    margin: 10px 40px 40px 40px;
    justify-content:center;
}

#paso{
    color: white;
    background-color:  var(--magenta);
    border-radius: 10px;
    margin:25px;
    padding: 1rem;
    font-family: #FFF;
    font-size: 28px;
    width: 400px;
    height: 100px;
    display:flex;
    justify-content: start;
    align-items: center;

    
}

#generales{
    color: white;
    background-color:  var(--celeste);
    border-radius: 10px;
    margin:25px;
    padding: 1rem;
    font-family: #FFF;
    font-size: 28px;
    width: 400px;
    height: 100px;
    display:flex;
    justify-content: start;
    align-items: center;
}