/*Barra de logo portal*/
.header-page{
    padding: 0.5em;
    background-color: var(--fondo-Cabecera);
    text-decoration: white;
    width: 100%;
    margin: 0px auto;
}

.logo{
    margin: 0px 20px;
}

/*Barra de menu*/
.barra-menu{
    background-color: var(--fondo-Menu);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.active{
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    margin: 0px 50px;
}

/*Contenido principal de la página */
#sec-titulo{
    display: flex;
}

.sec-titulo-texto{
    margin: 20px 200px 10px 0px;
}

.sec-titulo-h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    font-size: 50px;
}

.sec-titulo-p{
    font-size: 20px;
}

.sec-titulo-img{
    width: 400px;
    padding-top: 50px;
    padding-right: 150px;
}

/*Seccion para contenido de la página*/
#sec-contenido{
    margin: 20px 200px 10px 0px;
}

.botones-paso-generales{
    display: flex;
    margin: 10px 0px 0px 0px;
}

.paso{
    color: white;
    background-color:  var(--magenta);
    border-radius: 5px;
    padding: 5px;
    font-family: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    text-align: start;
    margin-right: 20px;
    width: 200px;
    height: 30px;
    margin: 0px 200px 0px 0px;
}

.paso:hover{
    background-color: var(--gris-claro);
}

.generales{
    color: white;
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 5px;
    font-family: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    text-align: start;
    width: 200px;
    height: 30px;
}

.generales:hover{
    background-color: var(--gris-claro);
}

/*Footer*/
.footer{
    background-color: var(--fondo-Footer);
    display: flex;
    justify-content: space-between;
}

.footer-p{
    color: var(--texto-footer);
    margin: 10px 40px 10px 40px;
}

.footer-img{
    display: flex;
    margin:5px 30px;
}