/*Barra de logo portal*/
.header-page{
    padding: 0.5em;
    background-color: var(--fondo-Cabecera);
    width: 100%;
    margin:0px auto
}

.logo{
    margin: 0px 20px;
}

/*Barra de menu*/
.barra-menu{
    color: #FFF;
    background-color: var(--fondo-Menu);
    width: 100%;
    padding: 20px;
    list-style:none;
    display: flex;
    text-transform: uppercase;
    margin:0px auto;
    align-items: baseline;
    gap:15px; /*espaciado entre los elementos del menu*/
}

#barra-menu-informes{
    color: #FFF;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    text-decoration:none;
    text-align: center;
}

#barra-menu-paso,
#barra-menu-generales{
    color: #FFF;
    border-radius:5px;
    padding:5px 20px;
    text-decoration:none;
    text-align: center;
}

#barra-menu-paso{
    background-color: var(--magenta);
}

#barra-menu-generales{
    background-color: var(--celeste);
}

#barra-menu-informes:hover,
#barra-menu-paso:hover,
#barra-menu-generales:hover{
    background-color: var(--gris-claro);
}


/*Contenido principal de la página */

#sec-titulo{
    display:flex
}

#sec-titulo-texto{
    margin: 40px 150px 20px 80px;
}

#sec-titulo-h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    font-size: 50px;
}

#sec-titulo-p{
    font-size: 20px;
}

#sec-titulo-img{
    margin: 40px 300px 0px 100px;
    
}

/*Seccion para contenido de la página*/

#sec-contenido a{
    text-decoration: none;
}

#sec-contenido-p,
#sec-contenido-h1{
    margin-left: 80px;
}

#sec-contenido-p{
    font-size:15px;
}

#botones-paso-generales{
    display:flex;
    margin: 10px 40px 40px 40px;
    justify-content: center;
}



#paso{
    color: white;
    background-color:  var(--magenta);
    border-radius: 10px;
    margin:25px;
    padding: 40px 0px 0px 20px;
    font-family: #FFF;
    font-size: 28px;
    text-align: start;
    width: 400px;
    height: 80px;
}


#generales{
    color: white;
    background-color:  var(--celeste);
    border-radius: 10px;
    margin:25px;
    padding: 40px 0px 0px 20px;
    font-family: #FFF;
    font-size: 28px;
    text-align: start;
    width: 400px;
    height: 80px;
}

/*Footer*/
.footer{
    background-color: var(--fondo-Footer);
    display: flex;
    justify-content: space-between;
    width: 100%
}

.footer-p{
    color: var(--texto-footer);
    margin: 40px;
}

.footer-img{
    display: flex;
    margin:40px;
}

.footer .logo_dine{
    margin-left: 20px;
    }