#barra-menu-inicio{
    color: #FFF;
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding:5px 30px;
    text-decoration:none;
    font-size: 13px;
    text-align: center;
    margin-left: 800%;
}

.consultar{
    color: white;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.informes-paso{
    color: white;
    background-color:  var(--magenta);
    border-radius: 5px;
    padding: 5px;
    font-family: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    text-align: start;
    margin-right: 20px;
    margin: 0px 20px;
}

.informes-paso:hover{
    background-color: var(--gris-claro);
}

.informes-generales{
    color: white;
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 5px;
    font-family: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    text-align: start;
}

.informes-generales:hover{
    background-color: var(--gris-claro);
}

/*Contenido principal de la página*/
#sec-titulo-informe{
    display: flex;
    justify-content: center;
}

.sec-titulo-exito{
    background-color: var(--mensaje-usuario-verde);
}

.sec-titulo-error{
    background-color: var(--mensaje-usuario-rojo);
}

.sec-titulo-imcompleto{
    background-color: var(--mensaje-usuario-amarillo);
}

.mensaje{
    margin: 20px auto;
    padding: 15px;
    width: 400px;
    padding: 15px;
    color: #FFffFF;
    font-size: 13px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}